.all { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;

    .main { width: 100%; max-width: 600px; margin: 0 30px;
    
    .page-div {
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    
      .form-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
      }
    
      .enroll {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    
        &:hover {
          background-color: #0069d9;
        }
      }
    }
    } }