$color-scale-black: #010409;
$color-scale-white: #ffffff;
$color-scale-gray-0: #f0f6fc;
$color-scale-gray-1: #c9d1d9;
$color-scale-gray-2: #b1bac4;
$color-scale-gray-3: #8b949e;
$color-scale-gray-4: #6e7681;
$color-scale-gray-5: #484f58;
$color-scale-gray-6: #30363d;
$color-scale-gray-7: #21262d;
$color-scale-gray-8: #161b22;
$color-scale-gray-9: #0d1117;
$color-scale-blue-0: #cae8ff;
$color-scale-blue-1: #a5d6ff;
$color-scale-blue-2: #79c0ff;
$color-scale-blue-3: #58a6ff;
$color-scale-blue-4: #388bfd;
$color-scale-blue-5: #1f6feb;
$color-scale-blue-6: #1158c7;
$color-scale-blue-7: #0d419d;
$color-scale-blue-8: #0c2d6b;
$color-scale-blue-9: #051d4d;
$color-scale-green-0: #aff5b4;
$color-scale-green-1: #7ee787;
$color-scale-green-2: #56d364;
$color-scale-green-3: #3fb950;
$color-scale-green-4: #2ea043;
$color-scale-green-5: #238636;
$color-scale-green-6: #196c2e;
$color-scale-green-7: #0f5323;
$color-scale-green-8: #033a16;
$color-scale-green-9: #04260f;
$color-scale-yellow-0: #f8e3a1;
$color-scale-yellow-1: #f2cc60;
$color-scale-yellow-2: #e3b341;
$color-scale-yellow-3: #d29922;
$color-scale-yellow-4: #bb8009;
$color-scale-yellow-5: #9e6a03;
$color-scale-yellow-6: #845306;
$color-scale-yellow-7: #693e00;
$color-scale-yellow-8: #4b2900;
$color-scale-yellow-9: #341a00;
$color-scale-orange-0: #ffdfb6;
$color-scale-orange-1: #ffc680;
$color-scale-orange-2: #ffa657;
$color-scale-orange-3: #f0883e;
$color-scale-orange-4: #db6d28;
$color-scale-orange-5: #bd561d;
$color-scale-orange-6: #9b4215;
$color-scale-orange-7: #762d0a;
$color-scale-orange-8: #5a1e02;
$color-scale-orange-9: #3d1300;


.all{
    .main{
        background-color: $color-scale-gray-0;
        height: 100vh;
        .container-main{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 2vw;
            .hero-msg{
                font-size: 10vw;
                font-family: 'Gabarito';
                font-weight: 800;
                letter-spacing: 0.15vw;
                color: $color-scale-blue-9;
                display: flex;
                gap:2vw;
                .started{
                    color: $color-scale-orange-2;
                } 
            }
            .msg-h1{
                display: flex;
                gap: 1vw;
                font-size: 2vw;
                font-weight: 400;
                font-family: 'Gabarito';
                color: $color-scale-gray-3;
                .hero2{
                    color: $color-scale-blue-9;
                    font-weight: 800;
                    letter-spacing: 0.1vw;
                }
            }

            button{
                border: none;
                background-color: $color-scale-gray-6;
                padding: 1vw;
                border-radius: 0.8vw;
                box-shadow: none;
                transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
                a{
                    text-decoration: none;
                    font-family: 'Gabarito';
                    color: $color-scale-blue-0;
                    font-size: 2.2vw;
                    transition: color 0.1s ease-out;
                }
            }
            
            button:hover{
                cursor: pointer;
                box-shadow: 0 4px 6px $color-scale-gray-4;
                background-color: $color-scale-blue-9;
                a{
                    color : $color-scale-white;
                }
            }
            .mark{
                color: $color-scale-gray-5;
                a{
                    text-decoration: none; 
                }
            }

            .table-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .hero{
                    font-size: 3vw;
                    letter-spacing: 0.2vw;
                    font-weight: 600;
                    padding: 0.2vw 2vw;
                    border-radius: 3vw;
                    box-shadow: 0 3px 2px $color-scale-black;
                }
                .hero-33{
                    display: block;
                    align-items: center;
                    justify-content: baseline;
                }
                .yrf{
                    background-color:$color-scale-blue-3;
                }
            }
        }
    }
}